<h1 class="mt-3" style="text-align: center;">Tạo Khóa Học</h1>

<form method="POST" action="/admin/creating" class="body-container">
    <div class="mb-3">
        <label for="name" class="form-label">Tên Khóa Học</label>
        <input type="text" class="form-control" name="name" placeholder="Tên Khóa Học">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Tác Giả</label>
        <input type="text" class="form-control" name="author" placeholder="Tác Giả">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">mô Tả</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Ảnh Giới Thiệu</label>
        <input type="text" class="form-control" name="image" placeholder="Ảnh Giới Thiệu">
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Tạo Khóa học</button>
    </div>
</form>