@import '_variable';

.footer{
    text-align: center;
    width: 100%;
    height: 50px;
    color: $foot-color;
}
.bodyer{
    color: $body-color;
}
a{
    text-decoration: none;
    color: $bottom;
    background-color:gray;
    padding: 20px;
}