<div class="mt-4">
    <form method="post" action="/girl/store">
        <div class="form-group">
            <label for="name">Tên Của cô gái đó</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="age">Tuổi Của cô gái đó</label>
            <input type="text" name="age" class="form-control" id="age">
        </div>

        <div class="form-group">
            <label for="name">Link ảnh</label>
            <input type="text" name="image" class="form-control" id="image">
        </div>

        <div class="form-group">
            <label for="name">Link youtobe</label>
            <input type="text" name="ytb" class="form-control" id="ytb">
        </div>

        <button type="submit" class="btn btn-primary">Đăng</button>
    </form>
</div>