<h1 style="text-align: center;">Cô gái ấy</h1>

<div class="row">
    <div class="col-lg-3">
        <h4>Tên: {{testdata.name}}</h4>
        <h4>Tuổi: {{testdata.age}}</h4>
        <a href="/home"><button>Back</button></a>
    </div>

    <div class="col-lg-6">
        <h5>Play video</h5>
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/{{testdata.ytb}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
