.dich-trai-ul {
  margin: auto;
  margin-right: 0px; }

.use-image {
  width: 28px;
  height: 28px;
  border-radius: 50%; }

.container {
  margin-left: 50px;
  margin-right: 50px; }

.form-select-style {
  margin-left: 25px;
  margin-right: 25px; }
