<h1 style="text-align: center;" >Hẹ Hò Time</h1>

<div class="mt-4">
    <div class="row">
        {{#each testdatas}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.age}} - Tuổi.</p>
                    <a href="#" class="btn btn-primary">Hẹn Hò</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
