<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://aphoto.vn/wp-content/uploads/2018/02/anh-chup-dien-thoai-dep.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://allimages.sgp1.digitaloceanspaces.com/photographercomvn/2020/09/Tong-hop-hinh-anh-gai-xinh-trieu-like-tren-FaceBook.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://2.bp.blogspot.com/-pCDSc6BkKfg/Wtn3I4Nk-gI/AAAAAAAAvmc/GgWAVC_SBBMl-TcOb8TwhP5QvJY0QcM0ACLcBGAs/s1600/hinh-nen-gai-xinh-viet-nam-6.jpg" alt="Third slide">
    </div>
  </div>
</div>