<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand header-container" href="/">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  justify-content-end dich-trai-ul">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="use-image" src="https://icapi.org/wp-content/uploads/2019/10/anh-gai-xinh-deo-kinh-45.jpg" alt="">
            Bé Công
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/coursera/create">Đăng Khóa học</a></li>
            <li><a class="dropdown-item" href="/manage">Khóa Học Của Tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .dich-trai-ul{
    margin:auto;
    margin-right: 50px;
}

.use-image{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.header-container{
    margin-left: 50px;
}
</style>