body{
    margin: 0;
}

.container{
    width: 100%;
}

.menu{
    position: absolute;
    width: 350px;
    height:420px;
    margin-left: 40px;
    border: 2px solid #4CAF50;
}
.chose-lever{
    position: relative;
    top: 10px;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    /* transform: translateX(-50%); */
}

.game-bottom-1,.game-bottom-2,.game-bottom-3,.game-bottom-4{
    position: relative;
    text-transform: uppercase;
    padding: 10px;
    background-color:#4CAF50;
    display: inline-block;
    width: 140px;
    background-color: #4CAF50;
    border: 0;
    text-decoration:none;
    color:black;
}

.game-bottom-1:hover,.game-bottom-2:hover,.game-bottom-3:hover,.game-bottom-4:hover{
    background-color: antiquewhite;
}

.game-bottom-1{
    top: 50px;
    left: 20px;
}

.game-bottom-2{
    top: 50px;
    left: 50px;
}

.game-bottom-3{
    top: 150px;
    left: 50px;
}

.game-bottom-4{
    top: 150px;
    left: 20px;
    width: 120px;
}

#number-goals,#number-health{
    text-align: center;
    margin-top: 20px;
}
#number-health{
    margin-top: 5px;
}

.game-menu{
    position: absolute;
    width: 420px;
    height:420px;
    margin-left: 455px;
    border: 2px solid blue;
}

