<h1 style="text-align: center;">Thêm Khóa học</h1>

<div class="mt-4">
    <form method="post" action="kho">
        <div class="mb-3">
            <label class="form-label">Tên Khóa học</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Tác Giả   </label>
            <input type="text" class="form-control" name="author">
        </div>
        <div class="mb-3">
            <label class="form-label">Ảnh Giới Thiệu</label>
            <input type="text" class="form-control" name="img">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">url video</label>
            <input type="text" class="form-control" name="ytb">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>